.date-container {
  border-radius: 10px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.date-active {
  background: #ffffff;
}

.date {
  font-weight: 700;
  font-size: 18px;
  color: #8b8b8b;
}
.date-working {
  color: #ffffff;
}
.date-active .date {
  color: #000000;
}
