.container {
  background: #ffffff;
  border-radius: 20px;
  padding: 11px 15px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.container-active {
  background: #ffeeee;
}
.img-name-container {
  display: flex;
  align-items: center;
}
.photo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 11px;
}
.name-qual-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  margin-bottom: 2px;
  margin-top: 0;
}
.qualification {
  font-weight: 500;
  font-size: 11px;
  color: #b4b4b4;
  margin-top: 0;
  margin-bottom: 0;
}
